[submodule "bwa"]
	path = bwa
	url = https://github.com/lh3/bwa.git
[submodule "samtools"]
	path = samtools
	url = https://github.com/samtools/samtools.git
[submodule "readfq"]
	path = readfq
	url = git@github.com:bioinformatica-corso/readfq.git
[submodule "fastq-tools"]
	path = fastq-tools
	url = git@github.com:bioinformatica-corso/fastq-tools.git
